.content{
  display:flex;
  height:800px;
}
.content>div{
  flex-grow: 1;
  /*background:#088;*/
  padding-left:2px;
  border:1px solid #ddd;
}
.content #nav{
   margin-left:1em;
}
#nav{
   background-color:#324157;
   min-width:15%;
}
#nav>ul>li{
  line-height: 2;
  border-bottom:1px solid #eee;
}
#nav>ul>li>a{
  font-size: 1.2em;
  padding:4px 8px;
  background:#324157;
}
#nav>ul>li li a{
  background: #1F2D3D;
  padding:0 1em 0 2em;
  line-height: 2;
}
#nav>ul>li li li a{
  background: #1F2D3D;
  padding:0 1em 0 4em;
  line-height: 2;
}
#nav>ul>li>a:hover,#nav>ul>li li a:hover,#nav>ul>li li li a:hover,#nav>ul>li li a.active{
  background: #20A0FF;
  color:#fff;
}
#nav a{
  color:#BFCBD9;
  display:inline-block;
  width:100%;
  box-sizing: border-box;
}
#title{
  display:flex;
  padding:5px 10px;
  align-items: center;
}
#title>.log{
  display:flex;
  align-items: center;
  flex-grow: 1;
}
.log p{
  font-size:1.5em;
}
.log>img{
  width:5em;
  height:5em;
}
li>ul{
  display:none;
}
li.active ul{
  display:block;
}
li.active>a{
  background: #f00;
}