.content{
  display:flex;
}
.content>div{
  flex-grow: 1;
  /*background:#088;*/
  padding-left:2px;
  border:1px solid #ddd;
}
.content #nav{
   margin-left:1em;
}
#nav{
   background-color:#BEDEFD;
   
}
#nav>ul>li{
  line-height: 2;
  border-bottom:1px solid #eee;
}
#nav>ul>li>a{
  color:#fff;
  display:inline-block;
  width:100%;
  padding:5px;
  background:#0F4D81;
}
#nav>ul>li li a{
  background: #53ADDB;
  color:#fff;
  width:100%;
  padding-left:10px;
  display:inline-block;
  border-bottom: 1px solid #fff;
}
#nav>ul>li li a:hover{
  background: #3B67C4;
}
#nav>ul>li li a.active{
  background: #3B67C4;
}
