  <h2>
	    <span>{{title}}</span>
		<img src="./assets/img/logo.png"/>
	</h2>
  <input type="button" class="btn  btn-primary" value="新增代理">
	<div class=''>
    <div class="searchInfo">
          <form class="form-inline form-btn" name="search-form">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">开始时间</span>
                  <input type="date" name="start-time" class="form-control" placeholder="开始时间">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">截止时间</span>
                  <input type="date" name="end-time" class="form-control" placeholder="截止时间">
                </div>
              </div>
              <div class="form-group">
                <input type="number" name="invitecode" class="form-control" placeholder="请输入代理邀请码">
              </div>
              <div class="form-group">
                <input type="button" class="btn btn-success" value="查询">
              </div>
            </form>
    </div>
		<table class="table table-bordered table-responsive table-striped">
			<tr>
				<th>代理姓名</th>
        <th>代理编号</th>
				<th>手机号</th>
        <th>微信号</th>
        <th>QQ号</th>
        <th>邀请码</th>
        <th>游戏用户ID</th>
        <th>会员数</th>
        <th>金额</th>
        <th>代理状态</th>
        <th>分成比例</th>
        <th>是否开代理</th>
        <th>代理级别</th>
        <th>编辑</th>
			</tr>
			<tr *ngFor="let agent of agents">
				<td>{{agent.id}}</td>
				<td>{{agent.name}}</td>
				<td>{{agent.weixin}}</td>
        <td>{{agent.id}}</td>
        <td>{{agent.name}}</td>
        <td>{{agent.weixin}}</td>
        <td>{{agent.id}}</td>
        <td>{{agent.name}}</td>
        <td>{{agent.weixin}}</td>
        <td>{{agent.id}}</td>
        <td>{{agent.name}}</td>
        <td>{{agent.weixin}}</td>
        <td>{{agent.weixin}}</td>
        <td>
          <input type="button" class="btn btn-warning btn-sm" value="修改">
          <input type="button" class="btn btn-success btn-sm" value="充值">
        </td>
			</tr>
		</table>
	</div>
  <app-paging [pageIndex]="this.pageIndex" [pageCount]="this.pageCount" (change)="bindpage($event)"></app-paging>
      <p class="total">共有 <b>{{totalNum}}</b> 条记录</p>
  <app-echarts ></app-echarts>