@import "assets/bootstrap/bootstrap.min.css";

body{
	/*padding:0.5em;*/
	height:100%;
}
ul,li,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
	list-style: none;
}
a,a:hover,a:visited{
	text-decoration: none;
}
h2{
	padding:5px;
	color:#888;
  background:#F5F7F9;
  margin-bottom: 1em;
  display:flex;
  height:2em;
  align-items: center;
}
h2>span{
	flex-grow: 1;
}
h2>img{
	height:1.5em;
	width:1.5em;
}
p.total{
	padding:1em;
}
.searchInfo{
    margin:1em 0;
}

#login{
	/*position: relative;*/
	display: flex;
	width:100%;
	height:100%;
	color:#fff;
	align-items: center;
	justify-content: center;
	background:url('assets/img/login-bg.jpg') no-repeat fixed 50%;
    background-size: 100% 100%;
}
#login>img{
	width:100%;
	height:100%;
}
#login>div{
	background:rgba(146,150,155,.3);
	/*position: absolute;*/
	width:60%;
	padding:4% 5% 5%;
	margin:15%;
	border-radius: 8px;
	border:1px solid #AFAFAC;
}
#login>div>form{
	width:80%;
	margin:10px auto;
}
#login h4{
	font-size:1.6em;
}
#login>div>form input.form-control{
	background: transparent;
	padding:6% 2%;
	color:#fff;
	font-size:1.2em;
	/*border-color:#fff;*/
}
#login>div>form input.for-control:hover,#login>div>form input.for-control:focus{
	    border: 1px solid #58b7ff;
}
#login>div>form input.btn{
	background: #8BBC68;
	padding:4%;
	font-size:1.2em;
}
app-root{
	display:none;
}
